<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${routeModel.name}">A route</title>
</head>

<body>

    <header>
        <h1 th:text="${routeModel.name}">A route</h1>
    </header>

    <main>

        <h3 th:text="${routeModel.grade}"></h3>
        <img th:src="${routeModel.img}" />
        <p th:text="${routeModel.description}"></p>
    </main>

    <footer>
        <div><a href="/show-routes">Routes</a></div>
        <small>A Bootcamp Project by Caleb Stripes using Spring Framework</small>
    </footer>

</body>

</html>